
    #ekonomi {
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        margin-top: 20px;
    }
    .ekonomi-ruta {
        background-color: white;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    }
    